#######################################################################
# List of dependencies for development environment
#######################################################################
pytest>=8.3.5
pytest-mock>=3.14.1
pytest-asyncio>=0.24.0
pytest-cov>=5.0.0

# install package in editable mode for tests to find SUT (modules) properly
-e .
