<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Generator" content="Microsoft Word 15 (filtered medium)">
    <style><!--
    /* Font Definitions */
    @font-face {
        font-family: Wingdings;
        panose-1: 5 0 0 0 0 0 0 0 0 0;
    }

    @font-face {
        font-family: "Cambria Math";
        panose-1: 2 4 5 3 5 4 6 3 2 4;
    }

    @font-face {
        font-family: Calibri;
        panose-1: 2 15 5 2 2 2 4 3 2 4;
    }

    @font-face {
        font-family: Aptos;
        panose-1: 2 11 0 4 2 2 2 2 2 4;
    }

    @font-face {
        font-family: "Times New Roman \(Body CS\)";
        panose-1: 2 11 6 4 2 2 2 2 2 4;
    }

    /* Style Definitions */
    p.MsoNormal, li.MsoNormal, div.MsoNormal {
        margin: 0in;
        font-size: 12.0pt;
        font-family: "Aptos", sans-serif;
        mso-ligatures: standardcontextual;
    }

    p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {
        mso-style-priority: 34;
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 0in;
        margin-left: .5in;
        font-size: 12.0pt;
        font-family: "Aptos", sans-serif;
        mso-ligatures: standardcontextual;
    }

    span.EmailStyle17 {
        mso-style-type: personal-compose;
        font-family: "Calibri", sans-serif;
        color: windowtext;
    }

    .MsoChpDefault {
        mso-style-type: export-only;
    }

    @page WordSection1 {
        size: 8.5in 11.0in;
        margin: 1.0in 1.0in 1.0in 1.0in;
    }

    div.WordSection1 {
        page: WordSection1;
    }

    /* List Definitions */
    @list l0 {
        mso-list-id: 412046163;
        mso-list-type: hybrid;
        mso-list-template-ids: -1020069024 67698689 67698691 67698693 67698689 67698691 67698693 67698689 67698691 67698693;
    }
    @list l0:level1 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Symbol;
    }
    @list l0:level2 {
        mso-level-number-format: bullet;
        mso-level-text: o;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: "Courier New";
    }
    @list l0:level3 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Wingdings;
    }
    @list l0:level4 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Symbol;
    }
    @list l0:level5 {
        mso-level-number-format: bullet;
        mso-level-text: o;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: "Courier New";
    }
    @list l0:level6 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Wingdings;
    }
    @list l0:level7 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Symbol;
    }
    @list l0:level8 {
        mso-level-number-format: bullet;
        mso-level-text: o;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: "Courier New";
    }
    @list l0:level9 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Wingdings;
    }
    @list l1 {
        mso-list-id: 1696425204;
        mso-list-type: hybrid;
        mso-list-template-ids: 1024991232 67698689 67698691 67698693 67698689 67698691 67698693 67698689 67698691 67698693;
    }
    @list l1:level1 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Symbol;
    }
    @list l1:level2 {
        mso-level-number-format: bullet;
        mso-level-text: o;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: "Courier New";
    }
    @list l1:level3 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Wingdings;
    }
    @list l1:level4 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Symbol;
    }
    @list l1:level5 {
        mso-level-number-format: bullet;
        mso-level-text: o;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: "Courier New";
    }
    @list l1:level6 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Wingdings;
    }
    @list l1:level7 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Symbol;
    }
    @list l1:level8 {
        mso-level-number-format: bullet;
        mso-level-text: o;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: "Courier New";
    }
    @list l1:level9 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Wingdings;
    }
    @list l2 {
        mso-list-id: 2142141754;
        mso-list-type: hybrid;
        mso-list-template-ids: -1188426382 67698689 67698691 67698693 67698689 67698691 67698693 67698689 67698691 67698693;
    }
    @list l2:level1 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Symbol;
    }
    @list l2:level2 {
        mso-level-number-format: bullet;
        mso-level-text: o;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: "Courier New";
    }
    @list l2:level3 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Wingdings;
    }
    @list l2:level4 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Symbol;
    }
    @list l2:level5 {
        mso-level-number-format: bullet;
        mso-level-text: o;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: "Courier New";
    }
    @list l2:level6 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Wingdings;
    }
    @list l2:level7 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Symbol;
    }
    @list l2:level8 {
        mso-level-number-format: bullet;
        mso-level-text: o;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: "Courier New";
    }
    @list l2:level9 {
        mso-level-number-format: bullet;
        mso-level-text: ;
        mso-level-tab-stop: none;
        mso-level-number-position: left;
        text-indent: -.25in;
        font-family: Wingdings;
    }
    ol {
        margin-bottom: 0in;
    }

    ul {
        margin-bottom: 0in;
    }

    -->
    </style>
</head>
<body lang="EN-US" link="#467886" vlink="#96607D" style="word-wrap:break-word">
<div class="WordSection1">
    <p class="MsoNormal"><span style="font-size:18.0pt;mso-ligatures:none">OPERA DAAC Delivery Accountability Report<o:p></o:p></span>
    </p>
    <p class="MsoNormal"><span style="mso-ligatures:none"><o:p>&nbsp;</o:p></span></p>
    <ul style="margin-top:0in" type="disc">
        <li class="MsoListParagraph" style="margin-left:0in;mso-list:l2 level1 lfo2"><span style="mso-ligatures:none">Venue: {{ venue }}<o:p></o:p></span>
        </li>
        <li class="MsoListParagraph" style="margin-left:0in;mso-list:l2 level1 lfo2"><span style="mso-ligatures:none">Query start: {{ start }}<o:p></o:p></span>
        </li>
        <li class="MsoListParagraph" style="margin-left:0in;mso-list:l2 level1 lfo2"><span style="mso-ligatures:none">Query end: {{ end }}<o:p></o:p></span>
        </li>
    </ul>
    <p class="MsoNormal"><span style="mso-ligatures:none"><o:p>&nbsp;</o:p></span></p>
    <table class="MsoTable15Grid1Light" border="1" cellspacing="0" cellpadding="0" width="885"
           style="width:663.8pt;border-collapse:collapse;border:none">
        <tbody>
        <tr style="height:18.55pt">
            <td valign="top"
                style="border:solid #999999 1.0pt;border-bottom:solid #666666 1.5pt;padding:0in 5.4pt 0in 5.4pt;height:18.55pt">
                <p class="MsoNormal" align="center" style="text-align:center"><b><span style="mso-ligatures:none">Product<o:p></o:p></span></b>
                </p>
            </td>
            <td valign="top"
                style="border-top:solid #999999 1.0pt;border-left:none;border-bottom:solid #666666 1.5pt;border-right:solid #999999 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.55pt">
                <p class="MsoNormal" align="center" style="text-align:center"><b><span style="mso-ligatures:none">Total Products<o:p></o:p></span></b>
                </p>
            </td>
            <td valign="top"
                style="border-top:solid #999999 1.0pt;border-left:none;border-bottom:solid #666666 1.5pt;border-right:solid #999999 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.55pt">
                <p class="MsoNormal" align="center" style="text-align:center"><b><span style="mso-ligatures:none">CNM-S Unsent<o:p></o:p></span></b>
                </p>
            </td>
            <td valign="top"
                style="border-top:solid #999999 1.0pt;border-left:none;border-bottom:solid #666666 1.5pt;border-right:solid #999999 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.55pt">
                <p class="MsoNormal" align="center" style="text-align:center"><b><span style="mso-ligatures:none">CNM-S Failed<o:p></o:p></span></b>
                </p>
            </td>
            <td valign="top"
                style="border-top:solid #999999 1.0pt;border-left:none;border-bottom:solid #666666 1.5pt;border-right:solid #999999 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.55pt">
                <p class="MsoNormal" align="center" style="text-align:center"><b><span style="mso-ligatures:none">No DAAC Response<o:p></o:p></span></b>
                </p>
            </td>
            <td valign="top"
                style="border-top:solid #999999 1.0pt;border-left:none;border-bottom:solid #666666 1.5pt;border-right:solid #999999 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.55pt">
                <p class="MsoNormal" align="center" style="text-align:center"><b><span style="mso-ligatures:none">Ingest Failed<o:p></o:p></span></b>
                </p>
            </td>
        </tr>
        {%- for row in rows %}
        <tr style="height:18.55pt">
            <td valign="top"
                style="border:solid #999999 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.55pt">
                <p class="MsoNormal"><b><span style="mso-ligatures:none">{{ row.product }}<o:p></o:p></span></b></p>
            </td>
            <td valign="top"
                style="border-top:none;border-left:none;border-bottom:solid #999999 1.0pt;border-right:solid #999999 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.55pt">
                <p class="MsoNormal"><span style="mso-ligatures:none">{{ row.TOTAL_PRODUCTS.value }}<o:p></o:p></span></p>
            </td>
            {%- if row.CNM_UNSENT.severity == 0 %}
            <td valign="top"
                style="border-top:none;border-left:none;border-bottom:solid #999999 1.0pt;border-right:solid #999999 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.55pt">
                <p class="MsoNormal"><span style="mso-ligatures:none">{{ row.CNM_UNSENT.value }}<o:p></o:p></span></p>
            </td>
            {%- else %}
            <td valign="top"
                style="border-top:none;border-left:none;border-bottom:solid #999999 1.0pt;border-right:solid #999999 1.0pt;background:{{ colors[row.CNM_UNSENT.severity] }};padding:0in 5.4pt 0in 5.4pt;height:18.55pt">
                <p class="MsoNormal"><span style="color:black;mso-ligatures:none">{{ row.CNM_UNSENT.value }}</span><span
                        style="mso-ligatures:none"><o:p></o:p></span></p>
            </td>
            {%- endif %}
            {%- if row.CNM_SEND_FAILED.severity == 0 %}
            <td valign="top"
                style="border-top:none;border-left:none;border-bottom:solid #999999 1.0pt;border-right:solid #999999 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.55pt">
                <p class="MsoNormal"><span style="mso-ligatures:none">{{ row.CNM_SEND_FAILED.value }}<o:p></o:p></span></p>
            </td>
            {%- else %}
            <td valign="top"
                style="border-top:none;border-left:none;border-bottom:solid #999999 1.0pt;border-right:solid #999999 1.0pt;background:{{ colors[row.CNM_SEND_FAILED.severity] }};padding:0in 5.4pt 0in 5.4pt;height:18.55pt">
                <p class="MsoNormal"><span style="color:black;mso-ligatures:none">{{ row.CNM_SEND_FAILED.value }}</span><span
                        style="mso-ligatures:none"><o:p></o:p></span></p>
            </td>
            {%- endif %}
            {%- if row.CNM_NO_RESPONSE.severity == 0 %}
            <td valign="top"
                style="border-top:none;border-left:none;border-bottom:solid #999999 1.0pt;border-right:solid #999999 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.55pt">
                <p class="MsoNormal"><span style="mso-ligatures:none">{{ row.CNM_NO_RESPONSE.value }}<o:p></o:p></span></p>
            </td>
            {%- else %}
            <td valign="top"
                style="border-top:none;border-left:none;border-bottom:solid #999999 1.0pt;border-right:solid #999999 1.0pt;background:{{ colors[row.CNM_NO_RESPONSE.severity] }};padding:0in 5.4pt 0in 5.4pt;height:18.55pt">
                <p class="MsoNormal"><span style="color:black;mso-ligatures:none">{{row.CNM_NO_RESPONSE.value }}</span><span
                        style="mso-ligatures:none"><o:p></o:p></span></p>
            </td>
            {%- endif %}
            {%- if row.CNM_INGEST_FAILED.severity == 0 %}
            <td valign="top"
                style="border-top:none;border-left:none;border-bottom:solid #999999 1.0pt;border-right:solid #999999 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.55pt">
                <p class="MsoNormal"><span style="mso-ligatures:none">{{ row.CNM_INGEST_FAILED.value }}<o:p></o:p></span></p>
            </td>
            {%- else %}
            <td valign="top"
                style="border-top:none;border-left:none;border-bottom:solid #999999 1.0pt;border-right:solid #999999 1.0pt;background:{{ colors[row.CNM_INGEST_FAILED.severity] }};padding:0in 5.4pt 0in 5.4pt;height:18.55pt">
                <p class="MsoNormal"><span style="color:black;mso-ligatures:none">{{ row.CNM_INGEST_FAILED.value }}</span><span
                        style="mso-ligatures:none"><o:p></o:p></span></p>
            </td>
            {%- endif %}
        </tr>
        {%- endfor %}
        </tbody>
    </table>
    <p class="MsoNormal"><span style="mso-ligatures:none">&nbsp;<o:p></o:p></span></p>
    {%- if ingestion_failures|length == 0 %}
    <p class="MsoNormal"><b><span style="mso-ligatures:none">No ingestion failures found!<o:p></o:p></span></b></p>
    {%- else %}
    <p class="MsoNormal"><b><span style="mso-ligatures:none">-------------Ingestion Failures-------------<o:p></o:p></span></b>
    {%- for failure_report in ingestion_failures %}
    <p class="MsoNormal"><span style="mso-ligatures:none">&nbsp;<o:p></o:p></span></p>
    <p class="MsoNormal"><span style="mso-ligatures:none">Product type: <b>{{ failure_report.product }}</b> ({{ failure_report.product_count }}):<o:p></o:p></span></p>
    <ul style="margin-top:0in" type="disc">
    {%- for product in failure_report.products %}
        <li class="MsoListParagraph" style="margin-left:0in;mso-list:l0 level1 lfo3"><span style="mso-ligatures:none">Product ID: {{ product.id }}<o:p></o:p></span></li>
        <ul style="margin-top:0in" type="circle">
            <li class="MsoListParagraph" style="margin-left:0in;mso-list:l0 level2 lfo3"><span
                    style="mso-ligatures:none">Status code: {{ product.error_code }}<o:p></o:p></span></li>
            <li class="MsoListParagraph" style="margin-left:0in;mso-list:l0 level2 lfo3"><span
                    style="mso-ligatures:none">Error message: {{ product.error_message }}<o:p></o:p></span></li>
        </ul>
    {%- endfor %}
    </ul>
    {%- if failure_report.skipped > 0 %}
    <p class="MsoNormal"><span style="mso-ligatures:none">&nbsp; (skipping {{ failure_report.skipped_str }} additional products for brevity – see attached JSON report for full list)<o:p></o:p></span>
    {%- endif %}
    {%- endfor %}
    {%- endif %}
    <p class="MsoNormal"><span style="font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif"><o:p>&nbsp;</o:p></span>
    </p>
</div>
</body>
</html>
